.Footer__Contacts {
    display: flex;
    flex-direction: column;
}

.Footer__Contact {
    display: flex;
    align-items: center;
}

.Footer__Contact__iconBox {
    width: 30px;
    height: 30px;
    display: flex;
}

.Footer__Contact__text {
    font-weight: bold;
    font-size: 1.0666666666666667rem;
    line-height: 1.2666666666666666rem;
    color: var( --header-link-color);
}
